# Dre Proprietary
# Copyright (c) 2024 Dre Proprietary. All rights reserved.
# 
# NOTICE: This software is proprietary to Dre Proprietary.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

numpy==1.23.4
pandas==1.5.2
scikit-learn==1.2.0
scipy==1.9.3
matplotlib==3.6.2
seaborn==0.12.1
plotly==5.11.0
flask==2.2.2
flask-restful==0.3.9
flask-cors==3.0.10
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.43
psycopg2==2.9.5
python-dotenv==0.21.0
loguru==0.6.0
pydantic==1.10.2
fastapi==0.92.0
uvicorn==0.20.0
gunicorn==20.1.0
python-multipart==0.0.5
redis==4.3.4
celery==5.2.7
flower==1.1.0
kafka-python==3.2.0
confluent-kafka==2.2.0
pytz==2022.6
python-dateutil==2.8.2
freezegun==1.2.1
responses==0.22.0
pytest==7.1.2
pytest-cov==4.0.0
pytest-mock==3.10.0
black==22.12.0
isort==5.12.0
mypy==0.991
pre-commit==2.20.0
flake8==6.0.0
flake8-bugbear==22.12.21
flake8-bandit==0.2.1
Sphinx==6.1.0
sphinx-autodoc-typehints==1.19.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-log-cabinet==2.0.0
recommonmark==0.7.1
sphinx-markdown-builder==2.4.1
sphinxcontrib-mermaid==0.7.1
sphinxcontrib-svg2pdfconverter==1.1.1
sphinxcontrib-websupport==2.0.1
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-images==0.9.5
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-programoutput==0.16
sphinxcontrib-trio==1.1.0
sphinx-argparse==0.3.2
sphinx-prompt==1.4.0
sphinx-copybutton==0.5.2
sphinx-design==0.3.0
sphinx-issues==1.2.2
sphinx-notfound-extension==0.6.1
sphinx-panels==0.6.0
sphinx-removed-in==0.2.1
sphinx-toolbox==1.8.2
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-latexext==2.5.4
sphinxcontrib-plantuml==0.23
sphinxcontrib-youtube==1.1.1
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-doctree==0.4.1
sphinxcontrib-fulltextsearch==1.4.0
sphinxcontrib-googleanalytics==1.2.1
sphinxcontrib-geekdoc==0.3.2
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-htmlmath==0.9.0
sphinxcontrib-qrcode==0.4.1
sphinxcontrib-websupport-tests==1.3.0
sphinxcontrib-serializinghtml-tests==1.1.5
sphinxcontrib-svg2pdfconverter-tests==1.1.1
sphinxcontrib-mermaid-tests==0.7.1
sphinxcontrib-images-tests==0.9.5
sphinxcontrib-programoutput-tests==0.16
sphinxcontrib-trio-tests==1.1.0
sphinx-argparse-tests==0.3.2
sphinx-prompt-tests==1.4.0
sphinx-copybutton-tests==0.5.2
sphinx-design-tests==0.3.0
sphinx-issues-tests==1.2.2
sphinx-notfound-extension-tests==0.6.1
sphinx-panels-tests==0.6.0
sphinx-removed-in-tests==0.2.1
sphinx-toolbox-tests==1.8.2
sphinxcontrib-qthelp-tests==1.0.3
sphinxcontrib-devhelp-tests==1.0.2
sphinxcontrib-htmlhelp-tests==2.0.0
sphinxcontrib-jsmath-tests==1.0.1
sphinxcontrib-latexext-tests==2.5.4
sphinxcontrib-plantuml-tests==0.23
sphinxcontrib-youtube-tests==1.1.1
sphinxcontrib-bibtex-tests==2.4.1
sphinxcontrib-doctree-tests==0.4.1
sphinxcontrib-fulltextsearch-tests==1.4.0
sphinxcontrib-googleanalytics-tests==1.2.1
sphinxcontrib-geekdoc-tests==0.3.2
sphinxcontrib-apidoc-tests==0.3.0
sphinxcontrib-applehelp-tests==1.0.2
sphinxcontrib-htmlmath-tests==0.9.0
sphinxcontrib-qrcode-tests==0.4.1
sphinxcontrib-websupport-tests==1.3.0
sphinxcontrib-serializinghtml-tests==1.1.5
sphinxcontrib-svg2pdfconverter-tests==1.1.1
sphinxcontrib-mermaid-tests==0.7.1
sphinxcontrib-images-tests==0.9.5
sphinxcontrib-programoutput-tests==0.16
sphinxcontrib-trio-tests==1.1.0
sphinx-argparse-tests==0.3.2
sphinx-prompt-tests==1.4.0
sphinx-copybutton-tests==0.5.2
sphinx-design-tests==0.3.0
sphinx-issues-tests==1.2.2
sphinx-notfound-extension-tests==0.6.1
sphinx-panels-tests==0.6.0
sphinx-removed-in-tests==0.2.1
sphinx-toolbox-tests==1.8.2
sphinxcontrib-qthelp-tests==1.0.3
sphinxcontrib-devhelp-tests==1.0.2
sphinxcontrib-htmlhelp-tests==2.0.0
sphinxcontrib-jsmath-tests==1.0.1
sphinxcontrib-latexext-tests==2.5.4
sphinxcontrib-plantuml-tests==0.23
sphinxcontrib-youtube-tests==1.1.1
sphinxcontrib-bibtex-tests==2.4.1
sphinxcontrib-doctree-tests==0.4.1
sphinxcontrib-fulltextsearch-tests==1.4.0
sphinxcontrib-googleanalytics-tests==1.2.1
sphinxcontrib-geekdoc-tests==0.3.2
sphinxcontrib-apidoc-tests==0.3.0
sphinxcontrib-applehelp-tests==1.0.2
sphinxcontrib-htmlmath-tests==0.9.0
sphinxcontrib-qrcode-tests==0.4.1
sphinxcontrib-websupport-tests==1.3.0
sphinxcontrib-serializinghtml-tests==1.1.5
sphinxcontrib-svg2pdfconverter-tests==1.1.1
sphinxcontrib-mermaid-tests==0.7.1
sphinxcontrib-images-tests==0.9.5
sphinxcontrib-programoutput-tests==0.16
sphinxcontrib-trio-tests==1.1.0
sphinx-argparse-tests==0.3.2
sphinx-prompt-tests==1.4.0
sphinx-copybutton-tests==0.5.2
sphinx-design-tests==0.3.0
sphinx-issues-tests==1.2.2
sphinx-notfound-extension-tests==0.6.1
sphinx-panels-tests==0.6.0
sphinx-removed-in-tests==0.2.1
sphinx-toolbox-tests==1.8.2
sphinxcontrib-qthelp-tests==1.0.3
sphinxcontrib-devhelp-tests==1.0.2