# Dre Proprietary
# Copyright (c) 2023 Dre Corporation. All rights reserved.

# Requirements for Dre Optimized 1321
# Creator Productivity SaaS Apps

# Core Libraries
numpy==1.23.4
pandas==1.4.2
scipy==1.9.0
matplotlib==3.5.1
seaborn==0.11.2
scikit-learn==1.1.2
flask==2.2.2
flask-restful==0.3.9
flask-sqlalchemy==2.5.1
flask-login==0.5.0
flask-babel==2.0.0
pytz==2022.1
boto3==1.26.10
botocore==1.28.10
requests==2.28.1
psycopg2-binary==2.9.3
sqlalchemy==1.4.39
alembic==1.8.0
pyyaml==6.0
pytz==2022.1
pyOpenSSL==22.0.0
cryptography==3.4.7
pyjwt==2.3.0
python-dotenv==0.20.0
python-multipart==0.0.5
Werkzeug==2.2.2
itsdangerous==2.1.2
Jinja2==3.0.3
MarkupSafe==2.1.1
# Testing Libraries
pytest==7.1.2
pytest-cov==2.12.1
pytest-flask==0.16.0
pytest-mock==3.10.0
# Development Libraries
black==22.3.0
isort==5.10.1
flake8==4.0.1
mypy==0.991
# Documentation Libraries
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinx-autodoc-typehints==1.20.0
sphinx-automodapi==0.12.0
sphinx-click==3.1.0
# Type Checking Libraries
mypy-extensions==0.4.3
types-requests==2.2.0
types-PyJWT==2.0.0
types-PyYAML==6.0
types-Flask==2.0.0
types-Flask-SQLAlchemy==2.4.0
types-Flask-Login==0.5.0
types-Flask-Babel==2.0.0
types-PyOpenSSL==22.0.0
types-Cryptography==3.4.7
types-PyJWT==2.0.0
types-PyYAML==6.0
types-Flask==2.0.0
types-Flask-SQLAlchemy==2.4.0
types-Flask-Login==0.5.0
types-Flask-Babel==2.0.0
types-PyOpenSSL==22.0.0
types-Cryptography==3.4.7