# masterbrain_optimized_2456/requirements.txt

Django==3.2.17
djangorestframework==3.12.4
numpy==1.20.3
pandas==1.2.4
scipy==1.7.3
matplotlib==3.3.4
opencv-python==4.5.1.48
pyyaml==6.0
django-cors-headers==3.5.0
django-filter==21.1
djangorestframework-simplejwt==4.7.0
psycopg2-binary==2.9.1
django-environ==0.4.5
boto3==1.18.42
botocore==1.21.42
requests==2.26.0
pytz==2021.1
six==1.16.0
django-storages==1.11.13
django-redis==5.0.0
django-celery-beat==2.2.0
celery==5.2.7
redis==4.1.0
pydantic==1.8.2
pytest==6.2.5
flake8==3.9.2
black==22.3.0
isort==5.10.1
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
django-debug-toolbar==3.2.4
django-extensions==3.1.6