# Dre Proprietary
# Copyright (c) 2024 Dre Proprietary. All rights reserved.
# 
# This software is the confidential and proprietary information of Dre Proprietary
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Dre Proprietary.

numpy==1.23.4
pandas==1.5.2
scikit-learn==1.2.0
matplotlib==3.6.2
seaborn==0.12.1
scipy==1.9.3
flask==2.2.2
flask-restful==0.3.9
flask-sqlalchemy==2.5.1
psycopg2==2.9.5
python-dotenv==0.20.0
loguru==0.6.0
pydantic==1.10.2
fastapi==0.92.0
uvicorn==0.20.0
gunicorn==20.1.0
python-multipart==0.0.5
redis==4.3.4
celery==5.2.7
flower==1.1.0
kafka-python==3.2.0
confluent-kafka==2.2.0
elasticsearch==8.5.1
kibana==8.5.1
pytz==2022.6
python-dateutil==2.8.2
pycountry==22.3.5
geojson==2.5.1
geopy==2.2.0
folium==0.14.0
plotly==5.11.0
bokeh==3.0.3
statsmodels==0.13.2
sympy==1.11.1
scipy-spatial==1.1.0
pyproj==3.4.1
shapely==2.0.1
fiona==1.9.0
gdal==3.6.2
rasterio==1.3.3
pygeos==0.13.1
geopandas==0.12.2
pydeck==0.9.1
missingno==0.5.1
category-encoders==2.5.2
imbalanced-learn==0.9.1
xgboost==1.6.2
lightgbm==3.3.2
catboost==1.0.6
optuna==3.1.0
hyperopt==0.2.7
dask==2022.12.1
joblib==1.2.0
tqdm==4.64.1
pytest==7.1.2
pytest-cov==4.0.0
black==22.12.0
isort==5.12.0
mypy==0.991
pre-commit==2.20.0
flake8==6.0.0
mccabe==0.6.1
pyflakes==2.5.0
pycodestyle==2.9.1
pydocstyle==6.1.1
yapf==0.32.11
autopep8==2.0.1
bandit==1.7.4
safety==2.11.0
sqlalchemy==1.4.43
alembic==1.10.2
python-decouple==3.6
python-dotenv==0.20.0
django==4.1.3
django-rest-framework==3.14.0
django-filter==22.1
django-cors-headers==3.13.0
django-storages==1.12.3
boto3==1.26.119
django-redis==4.12.1
django-redis-cache==2.11.1
django-channels==4.0.0
channels-redis==4.0.0
django-q==1.4.4
django-celery-beat==2.6.0
django-celery-results==2.6.0
django-allauth==0.51.0
django-allauth[openid]==0.51.0
django-allauth[github]==0.51.0
django-allauth[google]==0.51.0
django-allauth[facebook]==0.51.0
django-allauth[twitter]==0.51.0
django-allauth[linkedin]==0.51.0
django-allauth[discord]==0.51.0
django-allauth[slack]==0.51.0
django-allauth[azure-ad]==0.51.0
django-allauth[azure-ad-b2c]==0.51.0
django-allauth[amazon]==0.51.0
django-allauth[apple]==0.51.0
django-allauth[dropbox]==0.51.0
django-allauth[fitbit]==0.51.0
django-allauth[instagram]==0.51.0
django-allauth[mailchimp]==0.51.0
django-allauth[mailgun]==0.51.0
django-allauth[openid-connect]==0.51.0
django-allauth[stripe]==0.51.0
django-allauth[twitch]==0.51.0
django-allauth[windowslive]==0.51.0
django-allauth[xing]==0.51.0
django-allauth[yahoo]==0.51.0
django-allauth[yandex]==0.51.0
django-axes==10.0.3
django-axes[redis]==10.0.3
django-axes[sqlite]==10.0.3
django-axes[mysql]==10.0.3
django-axes[postgresql]==10.0.3
django-axes[oracle]==10.0.3
django-two-factor-auth==1.14.0
django-otp==1.2.1
django-otp[qr]==1.2.1
django-otp[twilio]==1.2.1
django-otp[nexmo]==1.2.1
django-otp[exotel]==1.2.1
django-otp[msg91]==1.2.1
django-otp[messagebird]==1.2.1
django-otp[cm]==1.2.1
django-otp[infobip]==1.2.1
django-otp[clicksend]==1.2.1
django-otp[callfire]==1.2.1
django-otp[plivo]==1.2.1
django-otp[nexmo-legacy]==1.2.1
django-otp[twilio-legacy]==1.2.1
django-otp[exotel-legacy]==1.2.1
django-otp[msg91-legacy]==1.2.1
django-otp[messagebird-legacy]==1.2.1
django-otp[cm-legacy]==1.2.1
django-otp[infobip-legacy]==1.2.1
django-otp[clicksend-legacy]==1.2.1
django-otp[callfire-legacy]==1.2.1
django-otp[plivo-legacy]==1.2.1
django-otp[yubikey]==1.2.1
django-otp[duo]==1.2.1
django-otp[google-authenticator]==1.2.1
django-otp[authy]==1.2.1
django-otp[azure-mfa]==1.2.1
django-otp[freeotp]==1.2.1
django-otp[andotp]==1.2.1
django-otp[steam]==1.2.1
django-otp[microsoft-authenticator]==1.2.1
django-otp[amazon]==1.2.1
django-otp[facebook]==1.2.1
django-otp[github]==1.2.1
django-otp[gitlab]==1.2.1
django-otp[google]==1.2.1
django-otp[linkedin]==1.2.1
django-otp[slack]==1.2.1
django-otp[twitter]==1.2.1
django-otp[yandex]==1.2.1
django-otp[yubikey-otp]==1.2.1
django-otp[duo-otp]==1.2.1
django-otp[google-authenticator-otp]==1.2.1
django-otp[authy-otp]==1.2.1
django-otp[azure-mfa-otp]==1.2.1
django-otp[freeotp-otp]==1.2.1
django-otp[andotp-otp]==1.2.1
django-otp[steam-otp]==1.2.1
django-otp[microsoft-authenticator-otp]==1.2.1
django-otp[amazon-otp]==1.2.1
django-otp[facebook-otp]==1.2.1
django-otp[github-otp]==1.2.1
django-otp[gitlab-otp]==1.2.1
django-otp[google-otp]==1.2.1
django-otp[linkedin-otp]==1.2.1
django-otp[