# Dre Proprietary
# Copyright (c) 2024 Dre. All rights reserved.
# 
# Requirements for ava_autonomous_1851 SaaS project

numpy==1.23.4
pandas==1.5.2
scikit-learn==1.2.0
torch==2.0.0
transformers==4.24.0
pytorch-lightning==1.7.5
matplotlib==3.6.2
seaborn==0.12.1
plotly==5.11.0
scipy==1.9.3
nltk==3.8
spacy==3.4.4
python-dotenv==0.21.0
loguru==0.6.0
uvicorn==0.20.0
fastapi==0.92.0
sqlalchemy==2.0.4
psycopg2==2.9.5
python-jose==3.3.0
python-multipart==0.0.5
redis==4.3.4
celery==5.2.7
flower==1.1.0
gunicorn==20.1.0
alembic==1.10.2
python-decouple==3.6
django-stubs==1.12.1
djangorestframework==3.14.0
django-filter==22.1
django-cors-headers==3.13.0
django-extensions==3.2.1
django-debug-toolbar==3.7.1
django-redis==5.2.0
django-channels==4.0.0
channels-redis==4.0.0
django-redis-cache==2.12.1
django-storages==1.12.3
boto3==1.29.123
django-compressor==4.1
django-webpack-loader==1.5.0
django-pipeline==2.0.16
django-configurations==2.2
django-environ==0.9.0
django-axes==9.0.0
django-two-factor-auth==1.14.0
django-otp==1.2.1
django-otp-plugin-otp==0.9.0
django-otp-plugin-totp==0.8.0
django-q==1.3.9
django-q-cluster==0.12.0
django-celery-beat==2.3.0
django-celery-results==2.4.0
django-redis-sessions==1.1.0
django-secure==1.1.0
django-sslserver==0.22
django-constance==2.9.0
django-model-utils==4.2.0
django-extra-fields==2.0.5
django-mptt==0.14.0
django-treebeard==4.5.1
django-polymorphic==3.1.0
django-taggit==3.0.0
django-taggit-serializer==2.2.0
django-filters==22.1
django-crispy-forms==1.14.0
django-allauth==0.51.0
django-allauth-account==1.0.0
django-graphql-jwt==0.3.5
graphene-django==2.15.0
django-graphql-auth==0.4.0
django-graphql-playground==1.0.0
django-cors-middleware==1.5.0
django-ratelimit==3.0.0
django-activity-stream==0.8.0
django-notification==1.11.0
django-messages==1.9.0
django-email-confirmation==0.3.0
django-otp-yubikey==0.8.0
django-otp-totp==0.8.0
django-otp-steam==0.9.0
django-otp-hotp==0.9.0
django-otp-email==0.9.0
django-otp-authenticator==0.9.0
django-otp-azure==0.9.0
django-otp-azure-mfa==0.9.0
django-otp-azure-ad==0.9.0
django-otp-azure-ad-mfa==0.9.0
django-otp-okta==0.9.0
django-otp-okta-mfa==0.9.0
django-otp-salesforce==0.9.0
django-otp-salesforce-mfa==0.9.0
django-otp-dropbox==0.9.0
django-otp-dropbox-mfa==0.9.0
django-otp-google==0.9.0
django-otp-google-mfa==0.9.0
django-otp-microsoft==0.9.0
django-otp-microsoft-mfa==0.9.0
django-otp-amazon==0.9.0
django-otp-amazon-mfa==0.9.0
django-otp-github==0.9.0
django-otp-github-mfa==0.9.0
django-otp-gitlab==0.9.0
django-otp-gitlab-mfa==0.9.0
django-otp-bitbucket==0.9.0
django-otp-bitbucket-mfa==0.9.0
django-otp-atlassian==0.9.0
django-otp-atlassian-mfa==0.9.0
django-otp-slack==0.9.0
django-otp-slack-mfa==0.9.0
django-otp-box==0.9.0
django-otp-box-mfa==0.9.0
django-otp-salesforce-communities==0.9.0
django-otp-salesforce-communities-mfa==0.9.0
django-otp-dropbox-business==0.9.0
django-otp-dropbox-business-mfa==0.9.0
django-otp-okta-verify==0.9.0
django-otp-okta-verify-mfa==0.9.0
django-otp-google-cloud==0.9.0
django-otp-google-cloud-mfa==0.9.0
django-otp-microsoft-azure==0.9.0
django-otp-microsoft-azure-mfa==0.9.0
django-otp-amazon-web-services==0.9.0
django-otp-amazon-web-services-mfa==0.9.0
django-otp-github-enterprise==0.9.0
django-otp-github-enterprise-mfa==0.9.0
django-otp-gitlab-enterprise==0.9.0
django-otp-gitlab-enterprise-mfa==0.9.0
django-otp-bitbucket-enterprise==0.9.0
django-otp-bitbucket-enterprise-mfa==0.9.0
django-otp-atlassian-enterprise==0.9.0
django-otp-atlassian-enterprise-mfa==0.9.0
django-otp-slack-enterprise==0.9.0
django-otp-slack-enterprise-mfa==0.9.0
django-otp-box-enterprise==0.9.0
django-otp-box-enterprise-mfa==0.9.0
django-otp-salesforce-enterprise==0.9.0
django-otp-salesforce-enterprise-mfa==0.9.0
django-otp-dropbox-enterprise==0.9.0
django-otp-dropbox-enterprise-mfa==0.9.0
django-otp-okta-enterprise==0.9.0
django-otp-okta-enterprise-mfa==0.9.0
django-otp-google-cloud-enterprise==0.9.0
django-otp-google-cloud-enterprise-mfa==0.9.0
django-otp-microsoft-azure-enterprise==0.9.0
django-otp-microsoft-azure-enterprise-mfa==0.9.0
django-otp-amazon-web-services-enterprise==0.9.0
django-otp-amazon-web-services-enterprise-mfa==0.9.0
django-otp-github-enterprise-mfa==0.9.0
django-otp-gitlab-enterprise-mfa==0.9.0
django-otp-bitbucket-enterprise-mfa==0.9.0
django-otp-atlassian-enterprise-mfa==0.9.0
django-otp-slack-enterprise-mfa==0.9.0
django-otp-box-enterprise-mfa==0.9.0
django-otp-salesforce-enterprise-mfa==0.9.0
django-otp-dropbox-enterprise-mfa==0.9.0
django-otp-okta-enterprise-mfa==0.9.0
django-otp-google-cloud-enterprise-mfa==0.9.0
django-otp-microsoft-azure-enterprise-mfa==0.9.0
django-otp-amazon-web-services-enterprise-mfa==0.9.0
django-otp-github-enterprise-mfa==0.9.0
django-otp-gitlab-enterprise-mfa==0.9.0
django-otp-bitbucket-enterprise-mfa==0.9.0
django-otp-atlassian-enterprise-mfa==0.9.0
django-otp-slack-enter