# Copyright 2023 Dre Proprietary
# All rights reserved.

# This software is proprietary information owned by Dre and is protected by copyright law and other
# intellectual property laws.

# Redistribution and use in source and binary forms, with or without modification, are permitted
# provided that the following conditions are met:

# 1. Redistributions of source code must retain the above copyright notice, this list of conditions
#    and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions
#    and the following disclaimer in the documentation and/or other materials provided with the distribution.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
# PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
# TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
# HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

Flask==2.3.2
Flask-SQLAlchemy==3.0.2
Flask-Migrate==4.1.0
Flask-RESTful==0.3.9
Flask-Cors==3.0.10
PyMySQL==1.10.1
requests==2.31.0
numpy==1.25.2
scipy==1.11.0
pandas==2.0.3
nltk==3.8.1
spacy==3.6.4
transformers==4.32.0
torch==2.0.1+cu118
redis==4.5.5
celery[redis]==5.2.7
Flask-Limiter==2.2.0
flask-marshmallow==0.16.0
marshmallow-sqlalchemy==0.29.0
Flask-Security-Too==3.0.0
Flask-Mail==0.9.1
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==4.40.0
Flask-Session==0.6.0
Flask-Caching==2.0.2
Flask-Security-Too[flask-mail]==3.0.0
Flask-Testing==0.8.1
pytest==7.4.2
coverage==7.3.1
flake8==5.0.4
black==23.9.1
mypy==1.6.0
sphinx==6.2.1
sphinx-rtd-theme==1.1.0