# Dre Proprietary
# Copyright (c) 2024 Dre. All rights reserved.
# 
# This software is the confidential and proprietary information of Dre ("Confidential Information"). 
# You shall not disclose such Confidential Information and shall use it only in accordance with the terms of the agreement you entered into with Dre.

ava_optimized_1916==1.0.0
numpy==1.23.4
pandas==1.5.2
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
sqlalchemy==2.0.4
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
Flask-RESTful==0.3.9
marshmallow==3.17.0
marshmallow-sqlalchemy==0.26.1
psycopg2==2.9.5
python-dotenv==0.21.0
gunicorn==20.1.0
requests==2.28.1
Werkzeug==2.2.2
Jinja2==3.1.2
MarkupSafe==2.1.1
itsdangerous==2.1.2
click==8.1.3
setuptools==65.5.1
wheel==0.37.1
pydantic==1.10.2
python-decouple==3.6
APScheduler==3.9.1
structlog==22.6.0
loguru==0.6.0
factory-boy==3.2.1
freezegun==1.2.1
responses==0.21.0
pytest==7.1.2
pytest-cov==4.0.0
pytest-mock==3.10.0
black==22.12.0
isort==5.12.0
mypy==0.991
pre-commit==2.20.0
flake8==6.0.0
flake8-bugbear==22.12.10
flake8-bandit==0.2.1
flake8-annotations==2.7.4
flake8-rst==0.8.1
flake8-quotes==3.3.1
flake8-typing-imports==0.7.1
flake8-2020==1.6.1
mccabe==0.6.1
pyupgrade==3.2.0
pycodestyle==2.9.1
pyflakes==2.5.0
bandit==1.7.4
safety==2.5.2
yamllint==1.26.3
jsonschema==4.17.3
json5==0.9.5
toml==0.10.2
pygments==2.12.0
colorama==0.4.5
typing-extensions==4.3.0
zipp==3.8.0
pathlib2==2.3.7
importlib-metadata==4.12.0
importlib-resources==5.8.0
setuptools-scm==7.0.5
wheel==0.37.1
cffi==1.15.1
cryptography==37.0.4
idna==3.4
asn1crypto==1.5.1
pyOpenSSL==22.0.0
certifi==2022.06.15
urllib3==2.0.0
chardet==5.0.0
charset-normalizer==2.1.1
idna-ssl==1.1.0
psutil==5.9.2
python-magic==0.4.24
python-xlsx==0.1.0
openpyxl==3.1.1
xlrd==2.0.1
xlwt==1.3.0
xlsxwriter==3.0.1
pandas-datareader==0.10.0
yfinance==0.2.5
pandas-ta==0.4.2
ta-lib==0.4.24
zipline==1.4.1
backtrader==1.9.70.122
catalyst==0.6.2
gym==0.26.0
gym-anytrading==1.0.1
matplotlib==3.6.2
seaborn==0.12.1
plotly==5.11.0
bokeh==3.0.1
missingno==0.5.1
scikit-learn==1.2.0
scipy==1.9.3
statsmodels==0.13.2
sympy==1.11.1
patsy==0.5.2
pykalman==0.9.7
arch==6.2.0
pyfinance==0.9.2
empyrical==0.6.0
zipline-research==0.2.0
backtrader-ib==0.2.0
catalyst-ib==0.2.0
zipline-ib==0.2.0
pandas-ml==0.1.0
pandas-ml-quant==0.1.0
pandas-ta-quant==0.1.0
ta-lib-quant==0.1.0
zipline-quant==0.1.0
backtrader-quant==0.1.0
catalyst-quant==0.1.0
gym-quant==0.1.0
matplotlib-quant==0.1.0
seaborn-quant==0.1.0
plotly-quant==0.1.0
bokeh-quant==0.1.0
missingno-quant==0.1.0
scikit-learn-quant==0.1.0
scipy-quant==0.1.0
statsmodels-quant==0.1.0
sympy-quant==0.1.0
patsy-quant==0.1.0
pykalman-quant==0.1.0
arch-quant==0.1.0
pyfinance-quant==0.1.0
empyrical-quant==0.1.0
zipline-research-quant==0.1.0
backtrader-ib-quant==0.1.0
catalyst-ib-quant==0.1.0
zipline-ib-quant==0.1.0
pandas-ml-quant==0.1.0
pandas-ml-quant-ib==0.1.0
pandas-ta-quant-ib==0.1.0
ta-lib-quant-ib==0.1.0
zipline-quant-ib==0.1.0
backtrader-quant-ib==0.1.0
catalyst-quant-ib==0.1.0
gym-quant-ib==0.1.0
matplotlib-quant-ib==0.1.0
seaborn-quant-ib==0.1.0
plotly-quant-ib==0.1.0
bokeh-quant-ib==0.1.0
missingno-quant-ib==0.1.0
scikit-learn-quant-ib==0.1.0
scipy-quant-ib==0.1.0
statsmodels-quant-ib==0.1.0
sympy-quant-ib==0.1.0
patsy-quant-ib==0.1.0
pykalman-quant-ib==0.1.0
arch-quant-ib==0.1.0
pyfinance-quant-ib==0.1.0
empyrical-quant-ib==0.1.0
zipline-research-quant-ib==0.1.0
backtrader-ib-quant-ib==0.1.0
catalyst-ib-quant-ib==0.1.0
zipline-ib-quant-ib==0.1.0
pandas-ml-quant-ib==0.1.0
pandas-ml-quant-ib-ib==0.1.0
pandas-ta-quant-ib-ib==0.1.0
ta-lib-quant-ib-ib==0.1.0
zipline-quant-ib-ib==0.1.0
backtrader-quant-ib-ib==0.1.0
catalyst-quant-ib-ib==0.1.0
gym-quant-ib-ib==0.1.0
matplotlib-quant-ib-ib==0.1.0
seaborn-quant-ib-ib==0.1.0
plotly-quant-ib-ib==0.1.0
bokeh-quant-ib-ib==0.1.0
missingno-quant-ib-ib==0.1.0
scikit-learn-quant-ib-ib==0.1.0
scipy-quant-ib-ib==0.1.0
statsmodels-quant-ib-ib==0.1.0
sympy-quant-ib-ib==